.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.td-button-case {
	min-width: 125px;
	text-align: center;
}

.td-width-250 {
	min-width: 250px;
}

/*SOBRESCRITURA DE LOS ESTILOS DE BOOTSTRAP*/
legend {
	width: auto;
	padding: 0px 5px;
}
/*FIN DE LA SOBRESCRITURA DE LOS ESTILOS DE BOOTSTRAP*/

/*GESTIÓN DEL REPEATER*/
.repeater-container {
	border-bottom: 1px solid #999999;
	margin-bottom: 15px;
}

	.repeater-container .repeater-item {
		margin-top: 10px;
		border-top: 1px solid #999999;
	}

		.repeater-container .repeater-item .repeater-item-title {
			font-size: 1.3em;
			color: #999999;
		}

		.repeater-container .repeater-item .repeater-item-image {
			display: block;
			height: 230px;
			padding: 10px 5px;
			margin: auto;
		}

		.repeater-container .repeater-item .repeater-item-data {
			font-size: 0.8em;
		}

			.repeater-container .repeater-item .repeater-item-data label:first-child {
				font-weight: bold;
			}

		.repeater-container .repeater-item .repeater-item-buttoncase {
			text-align: center;
		}

			.repeater-container .repeater-item .repeater-item-buttoncase a {
				display: inline-block;
				margin: auto 5px;
			}

/*FIN DE LA GESTIÓN DEL REPEATER*/

/*GESTIÓN DE LOS CHECKBOX*/
.input-checkbox-container {
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
}

	.input-checkbox-container.active {
		background-color: #666666;
		cursor: pointer;
	}

	.input-checkbox-container i {
		padding: 5px;
		font-size: 0.75em;
		color: transparent;
	}

	.input-checkbox-container:hover i {
		color: #00000033;
	}

	.input-checkbox-container.active i {
		padding: 5px;
		font-size: 0.75em;
		color: #FFFFFF;
	}

	.input-checkbox-container input {
		display: none;
	}

	.input-checkbox-container .glyphicon {
		top: 0;
	}
/*FIN DE LA GESTIÓN DE LOS CHECKBOX*/

/*GESTIÓN DE FILEUPLOAD PARA IMAGEN*/
.img-form-container {
	text-align: center;
}

	.img-form-container input {
		display: none;
	}

	.img-form-container img {
		cursor: pointer;
		height: 250px;
		background-color: #999999;
		min-width: 200px;
	}
/*FIN DE LA GESTIÓN DE FILEUPLOAD PARA IMAGEN*/
